div(id="appFootballHeaderText", class="app-football-header-style")
	h2(class="float")
		|Football Droid &nbsp;&nbsp;
	span
		|#{season}
div(id="appFootballHeaderMenu", class="app-football-header-menu")