div(id="appWeatherHeaderText", class="app-weather-header-style")
	h2
		|Weather Bot &nbsp;&nbsp;
		input(id="area", type="text", class="area-style", placeholder="enter a city or postcode")
div(id="appWeatherHeaderMenu", class="app-weather-header-menu")