extend layout
block content
	div(id="appContentWrap", class="app-content-wrap-style")
		div(id="appHeader", class="app-header")
		div(id="appContent", class="app-content")
	include app-general
	include app-dependencies