extend layout
block content
	div(id="appContentWrap", class="app-content-wrap-style")
		div(id="appHeader", class="app-header")
		div(id="appContent", class="app-content")
			div(class="test-wrap-content")
				p
					|Test text content to resize
	include app-general
	include app-dependencies
	include app-coffeeJs