extend layout
block content
	div(class="container")
		div#header-content(class="header-style page-header col col-lg-12")
	div(class="container")
		div#register-wrap(class="connect-style col col-lg-12")