/* #Website 810 // 
Global Styles
================================================== */

$content-width = $sizing_810 - ($spacing_810 * 2)

html
,body 
	margin 0
	height 100%
	background $green
  
.app-wrap-style
	widthHeightFull()

.app-header-style
,app-app-content-wrap-style-style
	widthHeightFull()
	
.app-header-style
	background $color_first
	
.app-header-text-style
,.app-header-logo-style
,.app-header
,.app-content
	widthHeightFull()
	globalPadding()
	background $color_first
	color $white
	
.app-header-text-style
	width $content-width
	padding 0px
	margin 0 auto
	
	h1
		font-size $base_h1
		line-height 1em
		
	span
		font-size: $base_h2 ;
		color:#873417;
		
		
.app-header-logo-style
	width 200px
	height 98px
	background tint($color_first, 30%)
	
.app-header
	background $color_second
	h2
		font-size 1.7em
		line-height 1.4em
	
.app-content
	min-height 100px
	background $color_third
	
.test-wrap-content
	width $content-width
	color $black
	background $white
	margin 0 auto
	
.float
	float left