/*========================================================
 * Import nib
 *========================================================
@import 'nib'
 */
/*========================================================
 * CSS reset
 *========================================================
global-reset()
 */
/*======================================================================
 * andy styl
 *======================================================================
 */
@font-face {
  font-family: 'sansationbold';
  src: url("sansation-bold-webfont.eot");
  src: url("sansation-bold-webfont.eot?#iefix") format('embedded-opentype');
  src: url("sansation-bold-webfont.woff") format('woff');
  src: url("sansation-bold-webfont.ttf") format('truetype');
  src: url("sansation-bold-webfont.svg#sansationbold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sansation_lightlight';
  src: url("sansation-light-webfont.eot");
  src: url("sansation-light-webfont.eot?#iefix") format('embedded-opentype');
  src: url("sansation-light-webfont.woff") format('woff');
  src: url("sansation-light-webfont.ttf") format('truetype');
  src: url("sansation-light-webfont.svg#sansation_lightlight") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sansationregular';
  src: url("sansation-regular-webfont.eot");
  src: url("sansation-regular-webfont.eot?#iefix") format('embedded-opentype');
  src: url("sansation-regular-webfont.woff") format('woff');
  src: url("sansation-regular-webfont.ttf") format('truetype');
  src: url("sansation-regular-webfont.svg#sansationregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* normalize.css v1.1.0 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
/* 1 */
  -webkit-text-size-adjust: 100%;
/* 2 */
  -ms-text-size-adjust: 100%;
/* 2 */
}
body {
  margin: 0;
  padding: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
/* 1 */
  -ms-interpolation-mode: bicubic;
/* 2 */
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
/* 1 */
  padding: 0;
  white-space: normal;
/* 2 */
  *margin-left: -7px;
/* 3 */
}
button,
input,
select,
textarea {
  font-size: 100%;
/* 1 */
  margin: 0;
/* 2 */
  vertical-align: baseline;
/* 3 */
  *vertical-align: middle;
/* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
/* 2 */
  cursor: pointer;
/* 3 */
  *overflow: visible;
/* 4 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
/* 1 */
  padding: 0;
/* 2 */
  *height: 13px;
/* 3 */
  *width: 13px;
/* 3 */
}
input[type="search"] {
  -webkit-appearance: textfield;
/* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
/* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
/* 1 */
  vertical-align: top;
/* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
a {
  text-decoration: none;
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
html,
body {
  margin: 0;
  height: 100%;
  background: #7fac71;
}
.app-wrap-style {
  overflow: hidden;
  width: 100%;
  height: auto;
}
.app-header-style,
app-app-content-wrap-style-style {
  overflow: hidden;
  width: 100%;
  height: auto;
}
.app-header-style {
  background: #cc5f39;
}
.app-header-text-style,
.app-header-logo-style,
.app-header,
.app-content {
  overflow: hidden;
  width: 100%;
  height: auto;
  padding: 20px;
  background: #cc5f39;
  color: #fff;
}
.app-header-text-style {
  width: 750px;
  padding: 0px;
  margin: 0 auto;
}
.app-header-text-style h1 {
  font-size: 60px;
  line-height: 1em;
}
.app-header-text-style span {
  font-size: 46px;
  color: #873417;
}
.app-header-logo-style {
  width: 200px;
  height: 98px;
  background: #db8f74;
}
.app-header {
  background: #838271;
}
.app-header h2 {
  font-size: 1.7em;
  line-height: 0.1em;
}
.app-content {
  min-height: 100px;
  background: #cfb86a;
}
.test-wrap-content {
  width: 750px;
  color: #000;
  background: #fff;
  margin: 0 auto;
}
.float {
  float: left;
}
@media only screen and (min-width: 768px) and (max-width: 809px) {
  .app-header-text-style {
    width: 718px;
  }
  .app-header-text-style h1 {
    font-size: 50px;
  }
  .test-wrap-content {
    width: 718px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .area-style {
    margin-top: 20px;
    width: 250px;
  }
  .app-header-text-style {
    width: 450px;
  }
  .app-header-text-style h1 {
    font-size: 45px;
  }
  .test-wrap-content {
    width: 450px;
  }
}
@media only screen and (max-width: 479px) {
  .app-header-text-style {
    width: 300px;
  }
  .app-header-text-style h1 {
    font-size: 30px;
  }
  .test-wrap-content {
    width: 300px;
  }
}
